@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

canvas {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

nav {
  background-color: rgb(242, 232, 207);
  text-align: center;
  user-select: none;
}

.voltar {
  font-size: 50px;
  font-family: Ubuntu;
  text-decoration: none;
  color: black;
  user-select: none;
}

.voltar:active {
  color: grey;
}

header {
  background-color: rgb(242, 232, 207);
  text-align: center;
  padding-bottom: 5px;
  user-select: none;
}

header > h1 {
  font-size: 50px;
  font-family: Ubuntu;
  user-select: none;
}

header > h2 {
  margin-top: 10px;
  font-size: 25px;
  font-family: Ubuntu;
  user-select: none;
}
